

<footer id="footer" class="footer-1">
  <div class="main-footer widgets-dark typo-light">
    <div class="container">
      <div class="row">
         <!--1er columna-->
        <div class="col text-center">
          <h5 class="widget-title text-center">Contáctanos<span></span></h5>
          <p>Ventas: +549351 572-3469</p>
          <p><a href="mailto:viveropachacutec@gmail.com" >viveropachacutec@gmail.com</a></p>
          </div>

          <!--2da columna-->
        <div class="col text-center">
          <h5 class="widget-title text-center">Links<span></span></h5>
          <ul class="social-footer2">
            <li><a  [routerLink]="['/home']" >inicio</a></li><br>
            <li><a  [routerLink]="['/cultural']">cultural</a></li><br>
            <li><a  [routerLink]="['/productos']">Catalogo de especies</a></li>
          </ul>
          </div>
        </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
        <p>Invernadero Agroforestal Pachacutec © 2022. All rights reserved.</p>
         <p> Pagina: Marcos Ricciardelli</p>
        </div>
      </div>
    </div>
  </div>

</footer>


