<div class="row">

  <div class="card1">
    <!--<img style="width: 100%;" lazyLoad="../../assets/chañar.jpg" alt="Imagen de Chañar joven">-->
    <img style="width: 100%;"
      lazyLoad='https://res.cloudinary.com/dghwcediy/image/upload/v1682618844/cha%C3%B1ar_lwx6on.jpg'
      alt="Imagen de Chañar joven">
    <div class="card1-body">
      <h5 class="card-title">Chañar</h5>
    </div>
  </div>

  <div class="card1">
    <!--<img  lazyLoad="../../assets/quebracho_blanco.jpg" alt="Imagen de Quebracho blanco joven">-->
    <img lazyLoad="https://res.cloudinary.com/dghwcediy/image/upload/v1682618892/quebracho_blanco_gmsn0q.jpg"
      alt="Imagen de Quebracho blanco joven">
    <div class="card1-body">
      <h5 class="card-title">Quebracho blanco</h5>
    </div>
  </div>

  <br><br>
  <h3 class="text-center"><a [routerLink]="['/productos']">Ver todo el catalogo de especies -></a></h3>
  <br>

  <div class="card1">
    <!--<img  lazyLoad="../../assets/mistol.jpg" alt="Imagen de Mistol joven">-->
    <img lazyLoad="https://res.cloudinary.com/dghwcediy/image/upload/v1682618872/mistol_eg3vk2.jpg" alt="Mistol">
    <div class="card1-body">
      <h5 class="card-title">Mistol</h5>
    </div>
  </div>

  <div class="card1">
    <!--<img  lazyLoad="../../assets/molle_perfil.jpg" alt="Imagen de Molle joven">-->
    <img lazyLoad="https://res.cloudinary.com/dghwcediy/image/upload/v1682618871/molle_perfil_qv108z.jpg"
      alt="Imagen de Molle joven">
    <div class="card1-body">
      <h5 class="card-title">Molle</h5>
    </div>
  </div>

  <div class="card1">
    <!--<img  lazyLoad="../../assets/aguaribay_perfil.jpg" alt="Imagen de Aguaribay joven">-->
    <img lazyLoad="https://res.cloudinary.com/dghwcediy/image/upload/v1682618833/aguaribay_perfil_vmtbkw.jpg"
      alt="Imagen de Aguaribay joven">
    <div class="card1-body">
      <h5 class="card-title">Aguaribay</h5>
    </div>
  </div>

  <div class="card1">
    <!--<img  lazyLoad="../../assets/sen_de_campo.jpg" alt="Imagen de Sen de campo joven">-->
    <img lazyLoad="https://res.cloudinary.com/dghwcediy/image/upload/v1682618897/sen_de_campo_d9iy9h.jpg"
      alt="Imagen de Sen de campo joven">
    <div class="card1-body">
      <h5 class="card-title">Sen de campo</h5>
    </div>
  </div>

  <div class="card1">
    <!--<img  lazyLoad="../../assets/Roble_perfil.jpg" alt="Imagen de Roble joven">-->
    <img lazyLoad="https://res.cloudinary.com/dghwcediy/image/upload/v1682618895/Roble_perfil_fhqalq.jpg"
      alt="Imagen de Roble joven">
    <div class="card1-body">
      <h5 class="card-title">Roble</h5>
    </div>
  </div>

  <div class="card1">
    <!--<img  lazyLoad="../../assets/tusca_perfil.jpg" alt="Imagen de Tusca joven">-->
    <img lazyLoad="https://res.cloudinary.com/dghwcediy/image/upload/v1682618896/tusca_perfil_ppxrm2.jpg"
      alt="Imagen de Tusca joven">
    <div class="card1-body">
      <h5 class="card-title">Tusca</h5>
    </div>
  </div>


  <div class="card1">
    <!--<img  lazyLoad="../../assets/Moradillos_grandes.jpg" alt="Imagen de Moradillo joven">-->
    <img lazyLoad="https://res.cloudinary.com/dghwcediy/image/upload/v1682618883/Moradillos_grandes_f2t7z4.jpg"
      alt="Imagen de Moradillo joven">
    <div class="card1-body">
      <h5 class="card-title">Moradillo</h5>
    </div>
  </div>

  <div class="card1">
    <!--<img  lazyLoad="../../assets/poleo.jpg" alt="Imagen de Poleo joven">-->
    <img lazyLoad="https://res.cloudinary.com/dghwcediy/image/upload/v1682618889/poleo_grl_hmpp43.jpg"
      alt="Imagen de Poleo joven">
    <div class="card1-body">
      <h5 class="card-title">Poleo</h5>
    </div>
  </div>

  <div class="card1">
    <!--<img  lazyLoad="../../assets/cucharero.jpg" alt="Imagen de Cucharero joven">-->
    <img lazyLoad="https://res.cloudinary.com/dghwcediy/image/upload/v1682618846/cucharero_wnwq7a.jpg"
      alt="Imagen de Cucharero joven">
    <div class="card1-body">
      <h5 class="card-title">Cucharero</h5>
    </div>
  </div>

  <div class="card1">
    <!--<img  lazyLoad="../../assets/algarrobo_blanco_perfil.jpg" alt="Imagen de Algarrobo blanco joven">-->
    <img lazyLoad="https://res.cloudinary.com/dghwcediy/image/upload/v1682618834/algarrobo_blanco_perfil_xksgvn.jpg"
      alt="Imagen de Chañar joven">
    <div class="card1-body">
      <h5 class="card-title">Algarrobo blanco</h5>
    </div>
  </div>

  <div class="card1">
    <!--<img  lazyLoad="../../assets/cina_cina.jpg" alt="Imagen de Cina Cina joven">-->
    <img lazyLoad="https://res.cloudinary.com/dghwcediy/image/upload/v1682618849/cina_cina_fjst7u.jpg"
      alt="Imagen de Cina Cina joven">
    <div class="card1-body">
      <h5 class="card-title">Cina Cina</h5>
    </div>
  </div>

  <div class="card1">
    <!--<img  lazyLoad="../../assets/Manzano_campo_perfil.jpg" alt="Imagen de Manzano de campo joven">-->
    <img lazyLoad="https://res.cloudinary.com/dghwcediy/image/upload/v1682618870/Manzano_campo_perfil_r0za4g.jpg"
      alt="Imagen de Manzano de campo joven">
    <div class="card1-body">
      <h5 class="card-title">Manzano de campo</h5>
    </div>
  </div>

</div>
