<!-- The Modal acerca de-->
<div  class="modal fade "  id="idAcercade">     <!--fade es la animacion-->
  <div class="modal-dialog " >          <!--Aqui podemos elegir el tamaño sm lg xl-->
    <div class="modal-content"  >

      <!-- Modal Header
      <div class="modal-header" >
        <h4 class="modal-title">Vivero ag Pachacutec</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>-->

      <!-- Modal body -->
      <div class="modal-body ">
        <h3>Vivero agroforestal Pachacútec </h3>
        <p>Jose de la Quintana,Cordoba, Argentina.</p>
        <b>Realización Audiovisual:</b>
          <p style="padding-left: 1rem;">Anana Audiovisuales | IG - @ananaudiovisuales<br></p>
        <b>Pagina por: </b>
          <p style="padding-left: 1rem;"> Marcos Ricciardelli | marcos.ricciar@gmail.com </p>
        <div style="padding-top: 1rem; text-align: center;"><button type="button" class="btn btn-success"  data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>

      <!-- Modal footer
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
      -->
    </div>
  </div>
</div>

