
<div class="contenedora">
<h2>Abastecemos con diversas especies autóctonas de la region centro del pais</h2>

<div class="contiene-img">
  <p style="text-align:right;"><img class="img-servicios" src="https://res.cloudinary.com/dghwcediy/image/upload/v1694096315/pacha%20nuevo/IMG-20230904-WA0025_bjnkua.jpg">
   ...Arboles, arbustos, barreras, cortinas
  </p>
</div>

  <div class="contiene-img" >
    <p style="text-align:left;"><img class="img-servicios" style="float:left;" src="https://res.cloudinary.com/dghwcediy/image/upload/v1694096411/pacha%20nuevo/PHOTO-2022-02-22-19-18-10_akrcq9.jpg">
      ...campañas de reforestacion
    </p>
  </div>

  <div class="contiene-img" >
    <p style="text-align:right;"><img class="img-servicios"  src="https://res.cloudinary.com/dghwcediy/image/upload/v1694096319/pacha%20nuevo/IMG-20230904-WA0044_xtnopa.jpg">
      ...remediacion ambiental
    </p>
  </div>

  <div class="contiene-img" >
    <p style="text-align:left;"><img class="img-servicios" style="float:left;" src="https://res.cloudinary.com/dghwcediy/image/upload/v1694096317/pacha%20nuevo/IMG-20230904-WA0036_ctvvbi.jpg">
      ...forestaciones urbanas
    </p>
  </div>

  <div class="contiene-img" >
    <p style="text-align:right;"><img class="img-servicios" src="https://res.cloudinary.com/dghwcediy/image/upload/v1694096315/pacha%20nuevo/IMG-20230904-WA0024_qjk3j8.jpg">
      ...forestaciones rurales
    </p>
  </div>

  <div class="contiene-img" >
    <p style="text-align:left;"><img class="img-servicios" style="float:left;" src="https://res.cloudinary.com/dghwcediy/image/upload/v1694096319/pacha%20nuevo/IMG-20230904-WA0045_jtxfwo.jpg">
      ...restauración ecologica
    </p>
  </div>
  <!--
    restauracion ecologica
 y rurales.

  <img class="img-servicios" src="https://res.cloudinary.com/dghwcediy/image/upload/v1694096314/pacha%20nuevo/IMG-20230904-WA0021_ssmubk.jpg">
  <img class="img-servicios" src="https://res.cloudinary.com/dghwcediy/image/upload/v1694096314/pacha%20nuevo/IMG-20230904-WA0019_benq5o.jpg">
  -->

<br><br>
</div>
<br><br>
