
<body >
  <!-- Carousel -->
  <div id="demo" class="carousel slide" data-bs-ride="carousel" >

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <!--<img src="../../assets/grl_norte.jpg"  class="d-block" style="width:100%;  ">-->
        <img src="https://res.cloudinary.com/dghwcediy/image/upload/v1682618862/grl_norte2_jew9bg.jpg"  class="d-block" style="width:100%;  ">
        <div class="carousel-caption">
          <!--<h1 style=" color: white; text-shadow: 2px 2px 4px #000000;">Pachacútec Vivero Agroforestal</h1>-->
        </div>
      </div>
      <div class="carousel-item">
        <!--<img src="../../assets/grl_arboles_lindos.jpg"  class="d-block" style="width:100%">-->
        <img src="https://res.cloudinary.com/dghwcediy/image/upload/v1682618862/grl_arboles_lindos_vldnyo.jpg"  class="d-block" style="width:100%">
        <div class="carousel-caption">
          <h3 style=" color: white; text-shadow: 2px 2px 4px #000000;">Miles de arboles</h3>
          <p style=" color: white; text-shadow: 2px 2px 4px #000000;">Venta de arboles nativos al por mayor</p>
        </div>
      </div>
      <div class="carousel-item">
        <!--<img src="../../assets/grl_este.jpg"  class="d-block" style="width:100%">-->
        <img src="https://res.cloudinary.com/dghwcediy/image/upload/v1682618856/grl_este_vnskkv.jpg"  class="d-block" style="width:100%">
        <div class="carousel-caption">
          <h3 style=" color: white; text-shadow: 2px 2px 4px #000000;">Jornadas de forestacion</h3>
          <p style=" color: white; text-shadow: 2px 2px 4px #000000;">Plantaciones masivas y mucho mas...</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>


