<br>
<!--Jornada baile-->

<div class="contenedor">
  <h2>Forestación Cultural </h2>
  <i>Sábado 18 de Marzo de 2023, José de La Quintana, Córdoba, Argentina</i>
   <p style="text-align:left; padding-left: 5%; padding-right: 5%;"> La cultura nace y se hace por si misma a partir del encuentro de los pueblos, de las comunidades, de dos personas compartiendo espacio y tiempo. Es un tejido vivo que se nutre de costumbres y saberes antiguos, de actuar creativamente para expandir nuestros sentidos e integrar la presencia de nuestro contexto.
    Pachacútec entiende a la Forestación cultural como un proceso que implica la presencia y la participación de la comunidad en intervenciones y acciones en los bosques que habitamos.
    Este es un primer paso en esa dirección, caminar con el convencimiento de poder transformar la realidad desde una multiplicidad de actos creativos y amorosos. Por sobretodo actos amorosos en el encuentro de ser en comunidad, ser, niñas, hombres, abuelas, hermanos, ser árbol, ser pájaro.
    Se plantaron arboles y futuros nidos.
    Paravachasca tierra que danza, Petra Ikor y les Hijes del Cosmos, ¥ Duo, Yarakusa Reggae, Roxy y José Lopez llenaron de arte el aire y quienes estuvimos en la Primera Forestación Cultural respiramos ese aire lleno de libertad.
    Ánana Audiovisuales realizó este registro basado en la confluencia de las expresiones que sucedieron ese día y creo este audiovisual.

    </p><br>
    <div >
  <iframe class="videos"  src="https://www.youtube.com/embed/nIG1PrtSmI0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>
    </div>
  <br><br><br>

    <h3>Pachacútec - Vivero Agroforestal <br> Construcción de Una Cisterna de Placas</h3>
    <i>17 de Junio de 2022.José de La Quintana, Córdoba, Argentina.</i>
  <p style="text-align:left; padding-left: 5%; padding-right: 5%;">Taller vivencial para la construcción de una cisterna de placas de 8000 litros, para la captación de agua de lluvia.</p><br>
  <div style="text-align: center;">
  <iframe class="videos"  src="https://www.youtube.com/embed/Pwaf4VPydlY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <br><br><br>
    <h3>Area Educativa</h3>
    <i></i><br>
    <div style="text-align: center;">
    <iframe class="videos" src="https://www.youtube.com/embed/cAgSegr6O3s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
<br><br>
