.logo {
  width: 50%;
  box-shadow: 20px 20px 50px rgb(96, 193, 228);
  text-align: center; border-radius: 50%;
  opacity:0.0;
  top:-100%; left:-100%;
  animation-name: transparencia;
  animation-duration:6s;
  animation-iteration-count: 1;
  background-color: rgb(255, 255, 255);
}


@keyframes transparencia {
0%  {opacity:0.0; top:10%;left:25%;}
50% {opacity:1.0; top:10%;left:25%;}
100%{opacity:0;   top:10%;left:25%; }
}

.intro_youtube {
  width:98%;
  height:427px;
  display:block;
  box-shadow: 2px 2px 50px black;
}

.contenedora {
  margin-left:15%;
  margin-right:15%;
  margin-top:4%;
  padding-left: 4%;
  padding-right: 2%;
  padding-top: 4%;
  box-shadow: 2px 2px 20px black;
  border-radius: 8px;
}


@media screen and (max-width: 767px) {
.presentacion {
  height: 200px;
  overflow-y: scroll;
  padding-top: 4%;
  padding:4%;
}
.contenedora {
  margin-left:2%;
  margin-right:4%;
  margin-top:4%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  box-shadow: 2px 2px 20px black;
  border-radius: 8px;
}
.intro_youtube{
  max-width:100%;
  max-height:50%;
}
.produccion{
 padding: 4%;
}
.contiene-youtube{
  margin-left: 4%;
}
}
