<!--Animacion logo-->
<div class="logo fixed-top">
  <!--<img  src="../../assets/Logo_todo_color.jpg" style="width: 100%; border-radius: 20%; padding: 20%;">-->
  <img src="https://res.cloudinary.com/dghwcediy/image/upload/v1682618861/Logo_todo_color_cfvhax.jpg"
    style="width: 100%; border-radius: 20%; padding: 20%;">
</div>

<!--Nota presentacion-->
<div class="contenedora">
  <h2 class="m-3">Pachacútec Agroforestal</h2>
  <div class="presentacion">
    Pachacútec es un Vivero Agroforestal que está naciendo de la comunión de quienes amamos al monte y sabemos que para
    crecer es necesario nutrirse de su presencia.
  </div><br>
  <div class="contiene-youtube">
    <!--<iframe width="90%" height="315" src="https://www.youtube.com/embed/sCBgcx8O-JM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>-->
    <iframe class="intro_youtube" src="https://www.youtube.com/embed/sCBgcx8O-JM" title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>

  <br>

  <!--Algunos productos en el index-->
  <div class="produccion">
    <br>
    <h3>sobre nuestra produccion de arboles nativos de Cordoba</h3>
    <app-productos-en-index></app-productos-en-index>
    <br><br>
    <h3 class="text-center"><a [routerLink]="['/productos']">Ver todo el catalogo de especies -></a></h3>
    <br>
  </div>
</div>

<br><br><br>
