<div class="row">

  <!-- Link a nuestros servicios-->
<div class="card1">
  <a [routerLink]="['/servicios']">
  <img  src="https://res.cloudinary.com/dghwcediy/image/upload/v1694096410/pacha%20nuevo/PHOTO-2022-03-01-20-22-58_uvsl3y.jpg"
    alt="Imagen de forestacion">
  <div class="card1-body"><br>
    <h5 class="card-title">Nuestros servicios</h5>
    <p>Forestaciones, plantaciones</p>
  </div>
</a>
</div>

<!-- Link a actividades culturales-->
<div class="card1">
  <a [routerLink]="['/cultural']">
  <img  src="https://res.cloudinary.com/dghwcediy/image/upload/v1694096326/pacha%20nuevo/IMG-20230904-WA0046_zvnvfp.jpg"
    alt="Imagen vivero aerea">

    <div class="card1-body"><br>
    <h5 class="card-title">Actividad culturales </h5>
    <p>Educación, remediación ecológica </p>
  </div>
  </a>
</div>

<!-- Catalogo de especies-->
<div class="card1">
  <a [routerLink]="['/productos']">
  <img  src="https://res.cloudinary.com/dghwcediy/image/upload/v1694096316/pacha%20nuevo/IMG-20230904-WA0028_q8qnnk.jpg"
    alt="Imagen de Lagaña de perro">

    <div class="card1-body"><br>
    <h5 class="card-title">Catalogo de especies </h5>
    <p>Arboles y arbustos autóctonos </p>
  </div>
  </a>
</div>

<br><br>
</div>

<br><br>
